---
layout: en/default
---

{% include en/header.html %}

<main>

  <div class="homebanner">
    <div class="container  container--narrow">

      <h1 class="homebanner__tagline">Law for Better Living</h1>
      <p class="homebanner__motto">Putting law and legitimacy at the service of long-term solutions and improved social harmony.</p>

    </div>
  </div>

  <div class="fullimg  fullimg--flagey"></div>

  <section class="pagesection">
    <div class="container">

      <h1 class="h1  h1--accent">Our Story</h1>
      <div class="grid">
        <div class="grid__unit  medium-span-6of12">

          <div class="intro">
            <p>On 1<sup>st</sup> April 2015, we cofounded EQUAL: a law firm that represents our shared aspirations.</p>
          </div>
          <p>We want to put our legal expertise at the service of major professional, economic and societal challenges. Our prime concern is to place the interests of our clients first, and work together on finding specific and long-term solutions to the challenges you encounter.</p>
          <p>At EQUAL, we are at the forefront of the collaborative economy and of collaborative practices. Our relations as lawyers with all the stakeholders in our profession are inspired by this.</p>
          <p>We conceive of the law as being there to further the aim of creating well-being for all.</p>

        </div><!--
     --><div class="grid__unit  medium-span-6of12">

          <div class="videocontainer">
            <iframe src="https://player.vimeo.com/video/122003622" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>

        </div>
      </div>

    </div>
  </section>

  <section class="pagesection  pagesection--dark">
    <div class="container">

      <div class="announcement">
        <h1 class="announcement__title">June 3, 2015<span class="visuallyhidden">:</span><span>inauguration</span></h1>
        <div class="announcement__text">
          <p>The inauguration of the new EQUAL office in Brussels took place on the 3<sup>rd</sup> of June. Here are <a href="https://www.facebook.com/media/set/?set=a.1614881205452615.1073741828.1570613926546010&type=3">a few pictures</a> and <a href="https://vimeo.com/130218502">a video</a> of our office. Thank you all for sharing this very special moment with us.</p>
        </div>
      </div>

    </div>
  </section>

  <section class="pagesection">
    <div class="container">

      <div class="introcenter">
        <h1 class="h1  h1--accent">Areas of Expertise</h1>
        <div class="intro">
          <p>We offer a broad spectrum of expertise by bringing together a team specialising in several areas of the law. Our services are all-inclusive and go beyond just the legal aspects.</p>
        </div>
      </div>

      <ul class="list-spaced  grid">
        <li class="grid__unit  medium-span-6of12">

          <div class="media">
            <svg class="media__img" width="80" height="80" role="img" title="Energy"><use xlink:href="/img/sprites/svgsprite.svg#icon_energy"></use></svg>
            <div class="media__body">
              <h2 class="h4">Energy</h2>
              <p>Issues related to energy are one of the major challenges of our time. The EQUAL team offers its public and private clients a proven track record and a long-term vision in this sector.</p>
            </div>
          </div>

        </li><!--
      --><li class="grid__unit  medium-span-6of12">

          <div class="media">
            <svg class="media__img" width="80" height="80" role="img" title="Real Estate"><use xlink:href="/img/sprites/svgsprite.svg#icon_realestate"></use></svg>
            <div class="media__body">
              <h2 class="h4">Real estate</h2>
              <p>Town and country planning contributes to social harmony. Public authorities and local communities are key players in this sector with which we have worked for many years.</p>
            </div>
          </div>

        </li><!--
      --><li class="grid__unit  medium-span-6of12">

          <div class="media">
            <svg class="media__img" width="80" height="80" role="img" title="Public markets"><use xlink:href="/img/sprites/svgsprite.svg#icon_markets"></use></svg>
            <div class="media__body">
              <h2 class="h4">Public procurement &amp; PPP</h2>
              <p>Public procurement has become an extremely complex, yet essential, aspect of economic life. Our team provides comprehensive expertise in this field.</p>
            </div>
          </div>

        </li><!--
      --><li class="grid__unit  medium-span-6of12">

          <div class="media">
            <svg class="media__img" width="80" height="80" role="img" title="Health"><use xlink:href="/img/sprites/svgsprite.svg#icon_health"></use></svg>
            <div class="media__body">
              <h2 class="h4">Health &amp; social security</h2>
              <p>Public health and the organisation and financing of social security are important issues for our fellow citizens. EQUAL has been conducting multidisciplinary research in this area for a considerable amount of time.</p>
            </div>
          </div>

        </li><!--
      --><li class="grid__unit  medium-span-6of12">

          <div class="media">
            <svg class="media__img" width="80" height="80" role="img" title="Economy"><use xlink:href="/img/sprites/svgsprite.svg#icon_economy"></use></svg>
            <div class="media__body">
              <h2 class="h4">Economy &amp; public finances</h2>
              <p>Public and para-public institutions play a critical role in economic development. Our team offers a comprehensive approach to these issues and provides support to players in this area.</p>
            </div>
          </div>

        </li><!--
      --><li class="grid__unit  medium-span-6of12">

          <div class="media">
            <svg class="media__img" width="80" height="80" role="img" title="Environment"><use xlink:href="/img/sprites/svgsprite.svg#icon_environment"></use></svg>
            <div class="media__body">
              <h2 class="h4">Environment</h2>
              <p>Protecting the environment is now a key issue. It has become a matter of life and death. EQUAL provides support to public and private stakeholders with a long-term vision in these matters.</p>
            </div>
          </div>

        </li>
      </ul>

    </div>
  </section>

  <section class="pagesection  pagesection--light">
    <div class="container">

      <div class="introcenter">
        <h1 class="h1  h1--accent">The team</h1>
        <div class="intro">
          <p>When you call on EQUAL, you will be working with a team ready to draw on the specific skills of each of its members.</p>
        </div>
      </div>

      {% include collaborators_list.html language="en" %}

    </div>
  </section>

  <div class="fullimg  fullimg--pond"></div>

  <section class="pagesection">
    <div class="container">

      <h1 class="h1  h1--accent">Our values</h1>
      <div class="grid">
        <div class="grid__unit  medium-span-7of12  large-span-6of12">

          <div class="intro">
            <p>In an ever-changing world, there is one thing we can be sure of: if we carry on doing things as we have always done them, we will get the same results.</p>
          </div>
          <p>Change starts with ourselves: in our daily lives, in the law and in our legal practice.</p>
          <p>EQUAL plans to keep the best and the talent while reinventing the rest by developing new approaches and serving new clients, or even new kinds of clients.</p>

        </div><!--
     --><div class="grid__unit  medium-span-5of12  large-span-6of12">

          <ul class="grid  values">
            <li class="grid__unit  large-span-6of12">
              <h2 class="h4">Integrity</h2>
              <p>Being honest. Developing ethics and authenticity across our entire professional practice.</p>
            </li><!--
         --><li class="grid__unit  large-span-6of12">
              <h2 class="h4">Conscience</h2>
              <p>Resolving conflict rather than reinforcing opposing views. Being at the service of life and living things.</p>
            </li><!--
         --><li class="grid__unit  large-span-6of12">
              <h2 class="h4">Freedom</h2>
              <p>Taking responsibility for our choices. Establishing our own rules out of respect for ourselves and for others.</p>
            </li><!--
         --><li class="grid__unit  large-span-6of12">
              <h2 class="h4">Moderation</h2>
              <p>Not being burdened by the superfluous. Saying yes to what is essential and yes to a better world.</p>
            </li>
          </ul>

        </div>
      </div>

    </div>
  </section>

</main>

{% include en/footer.html %}
