---
layout: en/default
---

{% include en/header.html %}

<main>

  <div class="homebanner">
    <div class="container  container--narrow">

      <h1 class="homebanner__tagline">Law for Better Living</h1>
      <p class="homebanner__motto">Mettre droit et Légitimité au service de solutions durables et du Mieux Vivre Ensemble.</p>

    </div>
  </div>

  <div class="fullimg  fullimg--flagey"></div>

  <section class="pagesection">
    <div class="container">

      <h1 class="h1  h1--accent">Our Story</h1>
      <div class="grid">
        <div class="grid__unit  medium-span-6of12">

          <div class="intro">
            <p>Proin vel commodo tortor, in pretium velit. Ut volutpat convallis mi ut pretium. Mauris feugiat cursus semper.</p>
          </div>
          <p>Nulla nec mauris malesuada, vehicula mauris quis, sollicitudin diam. Curabitur eu gravida mauris. Praesent vitae felis luctus diam condimentum euismod id eu turpis. Nulla tincidunt rutrum metus eget venenatis. Duis aliquam elementum ultrices.</p>
          <p>Nulla egestas, ex eget tincidunt porttitor, neque magna ornare ipsum, eget volutpat quam justo sit amet magna. Integer condimentum massa justo, at consectetur sapien scelerisque in. Aliquam erat volutpat.</p>

        </div><!--
     --><div class="grid__unit  medium-span-6of12">

          <div class="videocontainer">
            <iframe src="https://player.vimeo.com/video/122003622" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>

        </div>
      </div>

    </div>
  </section>

  <section class="pagesection  pagesection--dark">
    <div class="container">

      <div class="announcement">
        <h1 class="announcement__title">June 3, 2015<span class="visuallyhidden">:</span><span>launch party</span></h1>
        <div class="announcement__text">
          <p>We are throwing a party in our brand new Brussels office. We would be delighted to have you around. Come along, why wouldn’t you?</p>
        </div>
      </div>

    </div>
  </section>

  <section class="pagesection">
    <div class="container">

      <div class="introcenter">
        <h1 class="h1  h1--accent">Areas of Expertise</h1>
        <div class="intro">
          <p>Proin vel commodo tortor, in pretium velit. Ut volutpat convallis mi ut pretium. Mauris feugiat cursus semper. Duis in magna at elit commodo feugiat.</p>
        </div>
      </div>

      <ul class="list-spaced  grid">
        <li class="grid__unit  medium-span-6of12">

          <div class="media">
            <svg class="media__img" width="80" height="80" role="img" title="Energy"><use xlink:href="/img/sprites/svgsprite.svg#icon_energy"></use></svg>
            <div class="media__body">
              <h2 class="h4">Energy issues</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
            </div>
          </div>

        </li><!--
      --><li class="grid__unit  medium-span-6of12">

          <div class="media">
            <svg class="media__img" width="80" height="80" role="img" title="Real Estate"><use xlink:href="/img/sprites/svgsprite.svg#icon_realestate"></use></svg>
            <div class="media__body">
              <h2 class="h4">Public real estate</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
            </div>
          </div>

        </li><!--
      --><li class="grid__unit  medium-span-6of12">

          <div class="media">
            <svg class="media__img" width="80" height="80" role="img" title="Public markets"><use xlink:href="/img/sprites/svgsprite.svg#icon_markets"></use></svg>
            <div class="media__body">
              <h2 class="h4">Public markets</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
            </div>
          </div>

        </li><!--
      --><li class="grid__unit  medium-span-6of12">

          <div class="media">
            <svg class="media__img" width="80" height="80" role="img" title="Health"><use xlink:href="/img/sprites/svgsprite.svg#icon_health"></use></svg>
            <div class="media__body">
              <h2 class="h4">Public health</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
            </div>
          </div>

        </li><!--
      --><li class="grid__unit  medium-span-6of12">

          <div class="media">
            <svg class="media__img" width="80" height="80" role="img" title="Economy"><use xlink:href="/img/sprites/svgsprite.svg#icon_economy"></use></svg>
            <div class="media__body">
              <h2 class="h4">Public sector economy</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
            </div>
          </div>

        </li><!--
      --><li class="grid__unit  medium-span-6of12">

          <div class="media">
            <svg class="media__img" width="80" height="80" role="img" title="Environment"><use xlink:href="/img/sprites/svgsprite.svg#icon_environment"></use></svg>
            <div class="media__body">
              <h2 class="h4">Environment</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
            </div>
          </div>

        </li>
      </ul>

    </div>
  </section>

  <section class="pagesection  pagesection--light">
    <div class="container">

      <div class="introcenter">
        <h1 class="h1  h1--accent">The team</h1>
        <div class="intro">
          <p>Proin vel commodo tortor, in pretium velit. Ut volutpat convallis mi ut pretium. Mauris feugiat cursus semper. Duis in magna at elit commodo feugiat.</p>
        </div>
      </div>

      {% include collaborators_list.html language="en" %}

    </div>
  </section>

  <div class="fullimg  fullimg--pond"></div>

  <section class="pagesection">
    <div class="container">

      <h1 class="h1  h1--accent">What we stand for</h1>
      <div class="grid">
        <div class="grid__unit  medium-span-7of12  large-span-6of12">

          <div class="intro">
            <p>Proin vel commodo tortor, in pretium velit. Ut volutpat convallis mi ut pretium. Mauris feugiat cursus semper.</p>
          </div>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit at eos, ratione tempora quas omnis sunt facere. Ipsa a amet, distinctio explicabo labore quibusdam? <a href="fake.html">Aliquid vero necessitatibus</a> sint cum placeat.</p>
          <p>Earum nulla porro perspiciatis suscipit dolorum ipsum, tempore adipisci. Esse voluptatibus error eius nisi odit sapiente, iusto maxime voluptatem quo unde sunt quisquam placeat, consequuntur! Dolorem enim at voluptates voluptas.</p>
          <p>Possimus totam ex impedit fuga voluptatem, ipsam atque ab, distinctio, quam fugiat neque odio deleniti saepe. In obcaecati nisi dolores maxime quis, ducimus facere, fugit assumenda, corporis nam sequi eos.</p>

        </div><!--
     --><div class="grid__unit  medium-span-5of12  large-span-6of12">

          <ul class="grid  values">
            <li class="grid__unit  large-span-6of12">
              <h2 class="h4">Frugality</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur autem sequi, doloribus architecto eos explicabo.</p>
            </li><!--
         --><li class="grid__unit  large-span-6of12">
              <h2 class="h4">Freedom</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur autem sequi, doloribus architecto eos explicabo.</p>
            </li><!--
         --><li class="grid__unit  large-span-6of12">
              <h2 class="h4">Integrity</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur autem sequi, doloribus architecto eos explicabo.</p>
            </li><!--
         --><li class="grid__unit  large-span-6of12">
              <h2 class="h4">Mindfulness</h2>
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur autem sequi, doloribus architecto eos explicabo.</p>
            </li>
          </ul>

        </div>
      </div>

    </div>
  </section>

</main>

{% include en/footer.html %}