---
layout: fr/default
---

{% include fr/header.html %}

<main>

  <div class="homebanner">
    <div class="container  container--narrow">

      <h1 class="homebanner__tagline">EQUAL - Law for better living</h1>
      <p class="homebanner__motto">Mettre droit et légitimité au service de solutions durables et du mieux vivre ensemble.</p>

    </div>
  </div>

  <div class="fullimg  fullimg--flagey"></div>

  <section class="pagesection">
    <div class="container">

      <h1 class="h1  h1--accent">Notre histoire</h1>
      <div class="grid">
        <div class="grid__unit  large-span-6of12">

          <div class="intro">
            <p>Le premier avril 2015, nous avons créé ensemble EQUAL: un cabinet d'avocats qui correspond à nos aspirations communes.</p>
          </div>
          <p>Nous souhaitons mettre notre expertise juridique au service des défis professionnels, économiques et sociétaux de notre monde en mutation. Notre préoccupation principale est de replacer les intérêts de nos clients au centre de la réflexion, afin de trouver ensemble des solutions concrètes et durables.</p>
          <p>Chez EQUAL, nous sommes à l’avant-garde de l’économie et des pratiques collaboratives. Nos rapports entre avocats avec toutes les parties prenantes de notre métier en sont inspirés.</p>
          <p>Nous concevons le droit comme étant au service d’un projet de création de bien-être pour tous.</p>

        </div><!--
     --><div class="grid__unit  large-span-6of12">

         <div class="videocontainer">
           <iframe src="https://player.vimeo.com/video/130333487"></iframe>
         </div>

        </div>
      </div>

    </div>
  </section>

  <section class="pagesection  pagesection--dark">
    <div class="container">

      <div class="announcement">
        <h1 class="announcement__title">3 Juin 2015<span class="visuallyhidden">: </span><span>inauguration</span></h1>
        <div class="announcement__text">
          <p>L'inauguration des nouveaux bureaux d'EQUAL à Bruxelles a eu lieu le 3 Juin. Voici <a href="https://www.facebook.com/media/set/?set=a.1614881205452615.1073741828.1570613926546010&type=3">quelques photos</a> et <a href="https://vimeo.com/130333487">une vidéo</a> de l'événement. Merci à toutes et à tous d'être venus partager ce moment avec nous!</p>
        </div>
      </div>

    </div>
  </section>

  <section class="pagesection">
    <div class="container">

      <div class="introcenter">
        <h1 class="h1  h1--accent">Domaines d'expertise</h1>
        <div class="intro">
          <p>Nous offrons une expertise intégrée, associant divers domaines du droit. Notre proposition est inclusive et s'étend au-delà des aspects juridiques.</p>
        </div>
      </div>

      <ul class="list-spaced  grid">
        <li class="grid__unit  medium-span-6of12">

          <div class="media">
            <svg class="media__img" width="80" height="80" role="img" title="Energy"><use xlink:href="/img/sprites/svgsprite.svg#icon_energy"></use></svg>
            <div class="media__body">
              <h2 class="h4">Energie</h2>
              <p>Les problématiques liées à l'énergie sont l'un des enjeux majeurs de notre temps. L'équipe d'EQUAL met au service de ses clients publics et privés une expertise reconnue et une vision à long terme dans ce secteur.</p>
            </div>
          </div>

        </li><!--
      --><li class="grid__unit  medium-span-6of12">

          <div class="media">
            <svg class="media__img" width="80" height="80" role="img" title="Real Estate"><use xlink:href="/img/sprites/svgsprite.svg#icon_realestate"></use></svg>
            <div class="media__body">
              <h2 class="h4">Immobilier</h2>
              <p>L'aménagement de nos villes et campagnes contribue au mieux vivre-ensemble. Les pouvoirs publics et les collectivités locales sont des acteurs essentiels dans ce domaine que nous accompagnons depuis des années.</p>
            </div>
          </div>

        </li><!--
      --><li class="grid__unit  medium-span-6of12">

          <div class="media">
            <svg class="media__img" width="80" height="80" role="img" title="Public markets"><use xlink:href="/img/sprites/svgsprite.svg#icon_markets"></use></svg>
            <div class="media__body">
              <h2 class="h4">Marchés publics &amp; PPP</h2>
              <p>Les marchés publics sont devenus une matière extrêmement complexe et essentielle dans la vie économique. Notre équipe propose une expertise intégrée dans cette spécialité.</p>
            </div>
          </div>

        </li><!--
      --><li class="grid__unit  medium-span-6of12">

          <div class="media">
            <svg class="media__img" width="80" height="80" role="img" title="Health"><use xlink:href="/img/sprites/svgsprite.svg#icon_health"></use></svg>
            <div class="media__body">
              <h2 class="h4">Santé &amp; sécurité sociale</h2>
              <p>La santé publique ainsi que l'organisation et le financement la sécurité sociale sont des réalités importantes pour nos concitoyens. EQUAL mène depuis longtemps une réflexion pluridisciplinaire dans ce domaine.</p>
            </div>
          </div>

        </li><!--
      --><li class="grid__unit  medium-span-6of12">

          <div class="media">
            <svg class="media__img" width="80" height="80" role="img" title="Economy"><use xlink:href="/img/sprites/svgsprite.svg#icon_economy"></use></svg>
            <div class="media__body">
              <h2 class="h4">Economie &amp; finances publiques</h2>
              <p>Les institutions publiques et para-publiques jouent un rôle capital dans le développement économique. Notre équipe propose une approche globale de ces problématiques et un accompagnement des acteurs du secteur.</p>
            </div>
          </div>

        </li><!--
      --><li class="grid__unit  medium-span-6of12">

          <div class="media">
            <svg class="media__img" width="80" height="80" role="img" title="Environment"><use xlink:href="/img/sprites/svgsprite.svg#icon_environment"></use></svg>
            <div class="media__body">
              <h2 class="h4">Environnement</h2>
              <p>Le souci de l'environnement est aujourd'hui incontournable. C'est devenu une question de survie. EQUAL accompagne des acteurs publics et privés ayant une réflexion à long terme dans ces matières.</p>
            </div>
          </div>

        </li>
      </ul>

    </div>
  </section>

  <section class="pagesection  pagesection--light">
    <div class="container">

      <div class="introcenter">
        <h1 class="h1  h1--accent">L'équipe</h1>
        <div class="intro">
          <p>En faisant appel à EQUAL, c’est toute une équipe qui se mobilise et met à votre service les compétences de chacun de ses membres.</p>
        </div>
      </div>

      {% include collaborators_list.html language="fr" %}

    </div>
  </section>

  <div class="fullimg  fullimg--pond"></div>

  <section class="pagesection">
    <div class="container">

      <h1 class="h1  h1--accent">Nos valeurs</h1>
      <div class="grid">
        <div class="grid__unit  medium-span-7of12  large-span-6of12">

          <div class="intro">
            <p>Dans un monde en mutation, nous avons une certitude: si nous continuons à faire comme avant, nous continuerons à avoir les mêmes résultats.</p>
          </div>
          <p>Nous commençons par changer notre quotidien, celui du droit et des pratiques juridiques.</p>
          <p>EQUAL veut ainsi garder le meilleur, les talents, et réinventer le reste: développer des approches nouvelles et servir des clients nouveaux, voire même de nouveaux types de clients.</p>

        </div><!--
     --><div class="grid__unit  medium-span-5of12  large-span-6of12">

          <ul class="grid  values">
            <li class="grid__unit  large-span-6of12">
              <h2 class="h4">Intégrité</h2>
              <p>Etre sincère. Développer éthique et authenticité dans chacune de nos pratiques professionnelles.</p>
            </li><!--
         --><li class="grid__unit  large-span-6of12">
              <h2 class="h4">Conscience</h2>
              <p>Résoudre les tensions plutôt que renforcer les oppositions. Se mettre au service de la vie et du vivant.</p>
            </li><!--
         --><li class="grid__unit  large-span-6of12">
              <h2 class="h4">Liberté</h2>
              <p>Assumer ses choix. Fixer ses propres règles dans le respect de soi-même comme des autres.</p>
            </li><!--
         --><li class="grid__unit  large-span-6of12">
              <h2 class="h4">Frugalité</h2>
              <p>Bien vivre sans être encombré de superflu. Dire oui à l'essentiel et dire oui à un monde meilleur.</p>
            </li>
          </ul>

        </div>
      </div>

    </div>
  </section>

</main>

{% include fr/footer.html %}
