---
layout: fr/default
---

{% include fr/header.html %}

<main>

  <div class="homebanner">
    <div class="container  container--narrow">

      <h1 class="homebanner__tagline">Law for better living</h1>
      <p class="homebanner__motto">Mettre droit et légitimité au service de solutions durables et du mieux vivre ensemble.</p>

    </div>
  </div>

  <div class="fullimg  fullimg--flagey"></div>

  <section class="pagesection">
    <div class="container">

      <h1 class="h1  h1--accent">Notre histoire</h1>
      <div class="grid">
        <div class="grid__unit  medium-span-6of12">

          <div class="intro">
            <p>Equal est un cabinet d’un genre nouveau qui regroupe, à ce jour, 14 avocats.</p>
          </div>
          <p>EQUAL est avant tout un groupe de femmes et d’hommes en phase avec les enjeux de la société en constante évolution, désireux de mettre leur expertise juridique au service des défis majeurs professionnels, économiques et sociétaux qui se posent à nous.</p>
          <p>Dans cette perspective, notre préoccupation principale est de replacer les intérêts de nos clients au centre de la réflexion, afin de trouver ensemble des solutions concrètes et adéquates aux défis que vous rencontrez.</p>
        </div><!--
     --><div class="grid__unit  medium-span-6of12">

          <div class="videocontainer">
            <iframe src="https://player.vimeo.com/video/122003622" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>

        </div>
      </div>

    </div>
  </section>

  <section class="pagesection  pagesection--dark">
    <div class="container">

      <div class="announcement">
        <h1 class="announcement__title">June 3, 2015<span class="visuallyhidden">:</span><span>inauguration</span></h1>
        <div class="announcement__text">
          <p>Nous serions ravis de vous voir lors de l'inauguration d'EQUAL à Bruxelles. Soyez des nôtres, contactez-nous!</p>
        </div>
      </div>

    </div>
  </section>

  <section class="pagesection">
    <div class="container">

      <div class="introcenter">
        <h1 class="h1  h1--accent">Domaines d'expertise</h1>
        <div class="intro">
          <p>Nous offrons une expertise intégrée, associant divers domaines du droit. Notre proposition est inclusive et s'étend au-delà des aspects juridiques.</p>
        </div>
      </div>

      <ul class="list-spaced  grid">
        <li class="grid__unit  medium-span-6of12">

          <div class="media">
            <svg class="media__img" width="80" height="80" role="img" title="Energy"><use xlink:href="/img/sprites/svgsprite.svg#icon_energy"></use></svg>
            <div class="media__body">
              <h2 class="h4">Energie</h2>
              <p>Les problématiques liées à l'énergie sont l'un des enjeux majeurs de notre temps. L'équipe d'Equal met au service de ses clients publics et privés une expertise reconnue et une vision à long terme dans ce secteur.</p>
            </div>
          </div>

        </li><!--
      --><li class="grid__unit  medium-span-6of12">

          <div class="media">
            <svg class="media__img" width="80" height="80" role="img" title="Real Estate"><use xlink:href="/img/sprites/svgsprite.svg#icon_realestate"></use></svg>
            <div class="media__body">
              <h2 class="h4">Immobilier</h2>
              <p>L'aménagement de nos villes et campagnes contribue au mieux vivre-ensemble. Les pouvoirs publics et les collectivités locales sont des acteurs essentiels dans ce domaine que nous accompagnons depuis des années.</p>
            </div>
          </div>

        </li><!--
      --><li class="grid__unit  medium-span-6of12">

          <div class="media">
            <svg class="media__img" width="80" height="80" role="img" title="Public markets"><use xlink:href="/img/sprites/svgsprite.svg#icon_markets"></use></svg>
            <div class="media__body">
              <h2 class="h4">Marchés &amp; contrats publics</h2>
              <p>Les marchés publics sont devenus une matière extrèmement complexe et essentielle dans la vie économique. Notre équipe propose une expertise intégrée dans cette spécialité.</p>
            </div>
          </div>

        </li><!--
      --><li class="grid__unit  medium-span-6of12">

          <div class="media">
            <svg class="media__img" width="80" height="80" role="img" title="Health"><use xlink:href="/img/sprites/svgsprite.svg#icon_health"></use></svg>
            <div class="media__body">
              <h2 class="h4">Santé publique</h2>
              <p>La santé publique est l'un des biens communs de plus en plus important en regard de la longévité de nos concitoyens. Equal mène depuis longtemps une réflexion pluridisciplinaire dans ce domaine.</p>
            </div>
          </div>

        </li><!--
      --><li class="grid__unit  medium-span-6of12">

          <div class="media">
            <svg class="media__img" width="80" height="80" role="img" title="Economy"><use xlink:href="/img/sprites/svgsprite.svg#icon_economy"></use></svg>
            <div class="media__body">
              <h2 class="h4">Economie &amp; finances publiques</h2>
              <p>Les institutions publiques et para-publiques jouent un rôle capital dans le développement économique. Notre équipe propose une approche globale de ces problématiques et un accompagnement des acteurs du secteur.</p>
            </div>
          </div>

        </li><!--
      --><li class="grid__unit  medium-span-6of12">

          <div class="media">
            <svg class="media__img" width="80" height="80" role="img" title="Environment"><use xlink:href="/img/sprites/svgsprite.svg#icon_environment"></use></svg>
            <div class="media__body">
              <h2 class="h4">Environnement</h2>
              <p>Le souci de l'environnement est aujourd'hui incontournable. C'est devenu une question de survie. Equal accompagne des acteurs publics et privés ayant une réflexion à long terme dans ces matières.</p>
            </div>
          </div>

        </li>
      </ul>

    </div>
  </section>

  <div class="fullimg  fullimg--pond"></div>

  <section class="pagesection">
    <div class="container">

      <div class="introcenter">
        <h1 class="h1  h1--accent">L'équipe</h1>
        <div class="intro">
          <p>En faisant appel à Equal, c’est toute une équipe qui se mobilise et met à votre service les compétences de chacun de ses membres.</p>
        </div>
      </div>

      {% include collaborators_list.html language="fr" %}

    </div>
  </section>

</main>

{% include fr/footer.html %}