<footer class="pagefooter">

  <div class="pagefooter__map">
    <div class="js-gmap">test</div>
  </div>
  <div class="pagefooter__info">
    <div class="container">

      <div class="grid  grid--spaced">
        <div class="grid__unit  large-span-3of12">
          <svg role="img" title="Equal" width="120" height="48"><use xlink:href="/img/sprites/svgsprite.svg#logo_footer"></use></svg>
        </div><!--
     --><div class="grid__unit  medium-span-4of12  large-span-3of12">

          <h2 class="footertitle">Office</h2>
          <p>
            Place Flagey 18<br>
            5th floor<br>
            1050 Ixelles
          </p>

        </div><!--
     --><div class="grid__unit  medium-span-4of12  large-span-3of12">

          <h2 class="footertitle">Get in touch</h2>
          <ul class="list-contact  list-contact--footer">
            <li><a href="mailto:info@equal-partners.eu"><svg class="inline-icon  inline-icon--paddright" width="12" height="10"><use xlink:href="/img/sprites/svgsprite.svg#icon_small_email"></use></svg>info@equal-partners.eu</a></li>
            <li><a href="tel:003228999800"><svg class="inline-icon  inline-icon--paddright" width="12" height="10"><use xlink:href="/img/sprites/svgsprite.svg#icon_small_phone"></use></svg>+32 (0)2 899 98 00</a></li>
            <li><svg class="inline-icon  inline-icon--paddright" width="12" height="12"><use xlink:href="/img/sprites/svgsprite.svg#icon_small_fax"></use></svg>+32 (0)2 899 98 01</li>
          </ul>

        </div><!--
     --><div class="grid__unit  medium-span-4of12  large-span-3of12">
          <ul class="list-icons">
            <li><a href="https://twitter.com/equal_partners">
              {% include svgicons/twitter.html class="icon--light" %}
            </a></li><!--
         --><li><a href="https://www.facebook.com/pages/equal/1570613926546010">
              {% include svgicons/facebook.html class="icon--light" %}
            </a></li><!--
         --><li><a href="#">
              {% include svgicons/linkedin.html class="icon--light" %}
            </a></li>
          </ul>
        </div>
      </div>

    </div>
  </div>

  <div class="pagefooter__copyright">
    <div class="container">

        <p>Equal - Law for better living - &copy; {{ 'now' | date: '%Y' }}</p>

    </div>
  </div>

</footer>