---
layout: nl/default
---

{% include nl/header.html %}

<main>

  <div class="homebanner">
    <div class="container  container--narrow">

      <h1 class="homebanner__tagline">Law for Better Living</h1>
      <p class="homebanner__motto">Recht en legitimiteit in dienst van duurzame oplossingen en een betere maatschappelijke harmonie.</p>

    </div>
  </div>

  <div class="fullimg fullimg--flagey"></div>

  <section class="pagesection">
    <div class="container">

      <h1 class="h1  h1--accent">Ons verhaal</h1>
      <div class="grid">
        <div class="grid__unit  medium-span-6of12">

          <div class="intro">
            <p>Op 1 april 2015 hebben we samen EQUAL opgericht, een advocatenkantoor dat onze gemeenschappelijke ambities belichaamt.</p>
          </div>
          <p>Wij zetten onze juridische expertise in voor de professionele, economische en maatschappelijke uitdagingen van onze veranderende wereld. We willen de belangen van onze cliënten opnieuw centraal plaatsen en samen op zoek gaan naar concrete en duurzame oplossingen.</p>
          <p>Bij EQUAL volgen we de ontwikkelingen in de deeleconomie en de circulaire wereld op de voet. Onze relatie als advocaat met alle belanghebbenden in ons vak is hierop geïnspireerd.</p>
          <p>We beschouwen het recht als de basis van de creatie van welzijn voor iedereen.</p>

        </div><!--
     --><div class="grid__unit  medium-span-6of12">

          <div class="videocontainer">
            <iframe src="https://player.vimeo.com/video/130333487"></iframe>
          </div>

        </div>
      </div>

    </div>
  </section>

  <section class="pagesection  pagesection--dark">
    <div class="container">

      <div class="announcement">
        <h1 class="announcement__title">3 juni 2015<span class="visuallyhidden">:</span><span>officiële opening</span></h1>
        <div class="announcement__text">
          <p>Op 3 juni werden de nieuwe EQUAL-kantoren in Brussel ingehuldigd. Hierbij enkele <a href="https://www.facebook.com/media/set/?set=a.1614881205452615.1073741828.1570613926546010&type=3">foto’s</a> en een <a href="https://vimeo.com/130333487">video</a>. Bedankt voor uw talrijke aanwezigheid!</p>
        </div>
      </div>

    </div>
  </section>

  <section class="pagesection">
    <div class="container">

      <div class="introcenter">
        <h1 class="h1  h1--accent">Onze vakgebieden</h1>
        <div class="intro">
          <p>We bieden een geïntegreerde expertise in verschillende rechtsgebieden. Ons totaalaanbod omvat bovendien niet enkel de juridische aspecten.</p>
        </div>
      </div>

      <ul class="list-spaced  grid">
        <li class="grid__unit  medium-span-6of12">

          <div class="media">
            <svg class="media__img" width="80" height="80" role="img" title="Energy"><use xlink:href="/img/sprites/svgsprite.svg#icon_energy"></use></svg>
            <div class="media__body">
              <h2 class="h4">Energie</h2>
              <p>De energieproblematiek is een van de grootste uitdagingen van deze tijd. Het team van EQUAL helpt publieke en private actoren daarom met zijn erkende vakkennis en langetermijnvisie in deze sector.</p>
            </div>
          </div>

        </li><!--
      --><li class="grid__unit  medium-span-6of12">

          <div class="media">
            <svg class="media__img" width="80" height="80" role="img" title="Real Estate"><use xlink:href="/img/sprites/svgsprite.svg#icon_realestate"></use></svg>
            <div class="media__body">
              <h2 class="h4">Vastgoed</h2>
              <p>De inrichting van onze steden en ons platteland draagt bij tot een betere maatschappelijke harmonie. Daarom staan we (lokale) overheden – essentiële actoren op dit vlak – al jaren bij.</p>
            </div>
          </div>

        </li><!--
      --><li class="grid__unit  medium-span-6of12">

          <div class="media">
            <svg class="media__img" width="80" height="80" role="img" title="Public markets"><use xlink:href="/img/sprites/svgsprite.svg#icon_markets"></use></svg>
            <div class="media__body">
              <h2 class="h4">Openbare aanbestedingen en PPS</h2>
              <p>Openbare aanbestedingen zijn vandaag een bijzonder complexe, maar essentiële materie voor de economische wereld. Ons team biedt u een totaalexpertise in deze specialiteit.</p>
            </div>
          </div>

        </li><!--
      --><li class="grid__unit  medium-span-6of12">

          <div class="media">
            <svg class="media__img" width="80" height="80" role="img" title="Health"><use xlink:href="/img/sprites/svgsprite.svg#icon_health"></use></svg>
            <div class="media__body">
              <h2 class="h4">Gezondheid en sociale zekerheid</h2>
              <p>De volksgezondheid en de organisatie en financiering van de sociale zekerheid zijn belangrijke thema's voor onze medeburgers. EQUAL kan bogen op een jarenlange multidisciplinaire onderzoekservaring op dit gebied.</p>
            </div>
          </div>

        </li><!--
      --><li class="grid__unit  medium-span-6of12">

          <div class="media">
            <svg class="media__img" width="80" height="80" role="img" title="Economy"><use xlink:href="/img/sprites/svgsprite.svg#icon_economy"></use></svg>
            <div class="media__body">
              <h2 class="h4">Economie &amp; overheidsfinanciën</h2>
              <p>Voor de economische ontwikkeling spelen (semi-)overheidsdiensten een cruciale rol. Ons team biedt een algemene benadering voor dergelijke kwesties, gekoppeld aan begeleiding van de actoren uit de sector.</p>
            </div>
          </div>

        </li><!--
      --><li class="grid__unit  medium-span-6of12">

          <div class="media">
            <svg class="media__img" width="80" height="80" role="img" title="Environment"><use xlink:href="/img/sprites/svgsprite.svg#icon_environment"></use></svg>
            <div class="media__body">
              <h2 class="h4">Leefmilieu</h2>
              <p>Milieuzorg is vandaag een heikel punt, bijna een kwestie van overleven. EQUAL begeleidt publieke en private actoren bij de duurzame benadering van dergelijke thema’s.</p>
            </div>
          </div>

        </li>
      </ul>

    </div>
  </section>

  <section class="pagesection  pagesection--light">
    <div class="container">

      <div class="introcenter">
        <h1 class="h1  h1--accent">Ons team</h1>
        <div class="intro">
          <p>Wanneer u een beroep doet op EQUAL, werkt u samen met een volledig team dat al zijn krachten en competenties bundelt.</p>
        </div>
      </div>

      {% include collaborators_list.html language="nl" %}

    </div>
  </section>

  <div class="fullimg  fullimg--pond"></div>

  <section class="pagesection">
    <div class="container">

      <h1 class="h1  h1--accent">Onze waarden</h1>
      <div class="grid">
        <div class="grid__unit  medium-span-7of12  large-span-6of12">

          <div class="intro">
            <p>In deze veranderende wereld zijn we van één iets zeker: vasthouden aan dezelfde werkwijze is vasthouden aan dezelfde resultaten.</p>
          </div>
          <p>Verandering begint in onze dagelijkse activiteiten, in het recht en de juridische praktijk.</p>
          <p>EQUAL wil het beste en het talent behouden, maar de rest opnieuw interpreteren door nieuwe benaderingen te ontwikkelen en nieuwe klanten – en zelfs nieuwe klanttypes – aan te spreken.</p>

        </div><!--
     --><div class="grid__unit  medium-span-5of12  large-span-6of12">

          <ul class="grid  values">
            <li class="grid__unit  large-span-6of12">
              <h2 class="h4">Integriteit</h2>
              <p>Oprecht zijn. Ethiek en authenticiteit integreren in al onze activiteiten.</p>
            </li><!--
         --><li class="grid__unit  large-span-6of12">
              <h2 class="h4">Geweten</h2>
              <p>Liever spanningen oplossen dan de strijd tussen tegenstanders aan te wakkeren. Onszelf in dienst stellen van het leven.</p>
            </li><!--
         --><li class="grid__unit  large-span-6of12">
              <h2 class="h4">Vrijheid</h2>
              <p>Verantwoordelijkheid nemen voor onze keuzes. Onze eigen regels vastleggen uit respect voor onszelf en de anderen.</p>
            </li><!--
         --><li class="grid__unit  large-span-6of12">
              <h2 class="h4">Soberheid</h2>
              <p>Goed leven, zonder ons te laten overstelpen door overbodigheden. Ja zeggen tegen de essentie en tegen een betere wereld.</p>
            </li>
          </ul>

        </div>
      </div>

    </div>
  </section>

</main>

{% include nl/footer.html %}
