<!DOCTYPE html>
<html class="no-js" lang="nl">
  <head>
    <meta charset="utf-8">
    <title>EQUAL Partners - Law for better living</title>
    <meta name="description" content="EQUAL is a new breed of Law Firm based in Brussels, Belgium. We believe our sector has to adapt to meet the challenges of our time.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/screen.min.css" media="screen">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400italic,600">

    <!-- Modernizr & SVG for everybody -->
    <script src="/js/vendors/modernizr.min.js"></script>
    <script src="/js/vendors/svg4everybody.min.js"></script>
  </head>
  <body>

    {{ content }}

    <script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script src="/js/equal.min.js"></script>
  </body>
</html>
