<header class="pageheader">
  <div class="container">

    <div class="pageheader__sup  clearfix">

      <p class="logo"><a href="/fr/">
        <svg role="img" title="Equal"><use xlink:href="/img/sprites/svgsprite.svg#logo"></use></svg>
      </a></p>

      <nav class="languages">
        <ul class="lggnav">
          <li class="lggnav__item"><a href="/" title="English">EN</a></li><!--
       --><li class="lggnav__item  lggnav__item--current"><a href="/fr/" title="French">FR</a></li><!--
       --><li class="lggnav__item"><a href="/nl/" title="Dutch">NL</a></li>
        </ul>
      </nav>

    </div>

  </div>
</header>